@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");
@import url("https://fonts.googleapis.com/css?family=Abril+Fatface&display=swap");
@import url("https://fonts.googleapis.com/css?family=Bungee&display=swap");
@import url("https://fonts.googleapis.com/css?family=Berkshire+Swash&display=swap");

* {
  margin: 0;
  padding: 0;
  border: 0;
}
body {
  font-family: "Roboto", sans-serif;
  background-size: 35%;
  background-image: url("./assets/backrocket.png");
}
#logo img {
  border-radius: 5px;
  border: 6px double #68efef;
  box-shadow: 0px 0px 10px #68efef;
  padding: 3px;
  margin-top: 30px;
  margin-left: 30px;
  margin-bottom: 10px;
  height: 60px;
}
#interface {
  margin: 3px auto 5px auto;
  display: flex;
  justify-content: space-between;
}
#interface nav#mainMenu a {
  display: inline-block;
  padding: 2px;
  margin-top: 5px;
  margin-right: 30px;
}
a {
  font-size: 12px;
  font-family: "Bungee", cursive;
  text-decoration: none;
  color: #ffff00;
}
a:hover {
  color: #68efef;
  transition: color 200ms;
}
#interface,
#container,
footer {
  padding: 5px;
  max-width: 900px;
  background-color: rgb(0, 0, 0, 0.8);
  box-shadow: 0px 0px 10px #68efef;
  margin: 20px auto;
}
#container {
  text-align: center;
}
h1 {
  font-family: "Bungee", cursive;
  margin-top: 10px;
  color: #ffff;
  font-weight: bolder;
}
#mainP {
  max-width: 800px;
  margin: 0 auto;
}
#mainP p a {
  font-size: 20px;
  font-family: "Roboto", sans-serif;
}
p {
  color: #68efef;
  text-align: justify;
  font-size: 20px;
}
#studio img {
  height: 380px;
  width: 380px;
  margin-top: 30px;
  border-radius: 5px;
  border: 6px double #68efef;
  padding: 3px;
  margin-bottom: 30px;
  box-shadow: 0px 0px 10px #68efef;
}
h4 {
  color: #ff4f00;
}
h5 {
  color: #ffff;
  margin-bottom: 20px;
}
footer {
  margin: 10px auto;
  text-align: center;
}
#footNote {
  color: #68efef;
}
#rocketSymbol img {
  margin-top: 10px;
  height: 30px;
  width: 30px;
  border-radius: 5px;
  border: 6px double #68efef;
  box-shadow: 0px 0px 10px #68efef;
}
